section .heading{
    display: block;
    line-height: 160%;
}
section .heading .pictureErji{
    width: 100%;
}

/*文字div标签的class*/
section .wrapper{
    color: #481600;
    text-align: center;
    font-size: 1rem;
    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
section .wrapper p{
    margin-bottom: 24px;
}
section .wrapper .imgText{
    height: 1rem;
}
