*{margin: 0;padding: 0;}
body section{
    height: 100%;
}

section .container{
    max-width: 100%;
}

/*container下的div*/
section .container>div{
    padding-bottom: 24px;
    padding-top: 24px;
}

/*h3标签的class*/
section .caption{
    color: rgba(110, 58, 58, 0.56);
    font-size: 1rem;
    margin-bottom: 20px;
}

/*ul标签的class*/
section .grid{
    list-style: none;
    text-align: center;
}

/*ul下的li标签*/
section .grid li{
    padding: 16px;
}

/*a标签的class*/
section .thumbnail{
    width: 100%;
    font-size: 1rem;
}

/*ul和a标签的class*/
section .grid .thumbnail{
    display: block;
    text-decoration: none;
    color: inherit; 
}

/*a下div标签的class*/
section .circle{
    border-radius: 50%;
    max-width: 150px;
    box-shadow:0 1px 1px 1px rgba(0, 0, 0, 0.12);
}
section .circle::before{
    content: "";
    display: block;
    /* padding-top: 100%; */
}
section .thumbnail .picture{ 
    width: 150px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    margin: 0 auto 6px;
}

/*a标签下的strong标签*/
section .thumbnail>strong{
    display: block;
    width: 100%;
}

/*状态*/
section .grid a{
    transition: .5s;
}
section .grid a:hover{
    transform: translateY(-10px); 
}

/*分割线*/
section hr{
    background: rgba(0, 0, 0, 0.12);
    border: 0;
    height: 1px;
    margin-top: 36px;
    margin-bottom: 36px;
}